body {
  text-align: center;
  font-family: Verdana;
  background: rgb(230,230,230);
}
#wrap-box {
  margin-top: 8rem;
}
#preview {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 70%;
  flex-wrap: wrap;
}

iframe
{
  display: none;
}